$colors: (
  "white": #fff,
  "black": #000,
  "solitude": #f5f5f9,
  "chambray": #435971,
  "lynch": #697a8d,
  "kashmir-blue": #566a7f,
  "light-slate-blue": #696cff,
  "ghost-white": #e7e7ff,
);

:root {
  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }
}

@each $name, $value in $colors {
  .color-#{$name} {
    color: $value;
  }
}

@each $name, $value in $colors {
  .icon-color-#{$name}::before {
    color: $value;
  }
}
